body{
    background-color: black;
    background-image: url("image/IMG-20220926-WA0000.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
#allform{
text-align: center;
}
h1{
    color: gold;
}
input{
    text-align: center;
    border: none;
    background: transparent;
    border-bottom: 3px solid white;
}
.setup{
    background-color: rgb(0, 0, 0);
    opacity: 70%;
    margin: 40px;
    padding: 30px;
    border: transparent;
}
button{
    font-size: 20px;
    height: 50px;
    width: 180px;
    border-radius: 30px;
    color: black;
}
button:hover{
    color: white;
    background-color: black;
    cursor: pointer;
}
p{
    color: white;
}
a{
    color: gold;
    text-decoration:none;
}
